.navbar-container{
    width: 25% !important;
    border-bottom-left-radius: 50px;
    box-shadow: 7px 16px 5px 0px rgba(0,0,0,0.22);
    position: relative;
    z-index: 2;
    padding: 10px  0 50px 0!important;

}
.navbar-brand{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.navbar-brand img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -0.5px;
    object-fit: cover;
    
}


.navbar-dropdown .span-one{
    font-size: 14px !important;
    border: 1px solid red;
    padding: 1px !important;
    margin-left: 15px !important;
}
.navbar-dropdown .span-two{
    font-size: 10px !important; 
    margin-left: 5px !important;  
}

.span-three{
    color: #999;
    border: 1px solid #999;
    padding: 1px;
    font-size: 10px;
  
}

.navbar-link-browse{
    color: #999 !important;
    font-weight: bold !important;
}

.navbar-link{
    color: #888 !important;
    font-weight: 500 !important;
}

@media only screen and (max-width: 768px) {
    .navbar-container{
        width: 100% !important;
    }
  }