
.App {
    width: 100vw;
}


@media only screen and (max-width: 768px) {
    .App, .navbar-container, .home-container, .song-container {
        width: 100% !important;
        height: auto !important;
    }
}
